html, body {
	height: 100%;
}
.top-main {
	height: 20%;
	width: 100%;
	background: #444;
	z-index: 1;
}

.left {
	height: 80%;
	width: 10%;
	float: left;
	background: #d8d8d8;
}

.container {
	height: 70%;
	width: 70%;
	background: #fff;
	margin: 0 auto;
}

.right {
	height: 80%;
	width: 10%;
	float: right;
	background: #d8d8d8;
}

.bottom-main {
	height: 10%;
	width: 100%;
	background: #222;
	margin: 0 auto;
}
